body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FEFAE0;
    font-family: 'Georgia', serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    position: relative;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 0;
}

.section.active {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.section.inactive {
    opacity: 0.5;
}

.section:nth-child(1) {
    background-color: #81b29a;
}

.section:nth-child(2) {
    background-color: #52796f;
}

.section:nth-child(3) {
    background-color: #6B8F71;
}

.section:nth-child(4) {
    background-color: #4A5E44;
}

.content-container-about,
.content-container-interests,
.projects-container,
.contact-container {
    overflow-y: auto;
    padding: 20px;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .section {
        width: 100%;
        height: auto;
    }
}
